* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* background: #949699; */
}
html, body{
    height: 100%;
}

.header {
    height: 70px;
    /* max-width: 100%; */
    padding: 0 10px;
    text-transform: uppercase;
    background: #343a40;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 5px 10px 18px rgb(88, 88, 88); */
}

.logo {
    float: left;
    line-height: 70px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
}

.logo-small {
    float: left;
    line-height: 70px;
}

.logo-small a {
    display: none;
}

.menu {
    float: right;
    line-height: 70px;
    text-align: center;
    margin-right: 30px;
    display: inline-block;
}

.menu a {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: #fff;
    /* display: inline; */
}

.menu a:hover {
    transition: 0.5s;
    color: #fbb117;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu a.active {
    color: #fbb117;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-toggle {
    float: right;
    line-height: 70px;
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin-right: 30px;
    color: #fff;
}

.page-img {
    /* border: 10px solid red; */
    overflow: hidden;
    width: 100%;
    padding-bottom: 200px;
}

.page-img img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.4;
    /* margin-top: -60px */
    /* transform: translate(0, -150px) */
}

.text-block {
    position: relative;
    padding-top: 50px;
    color: #34495e;
    font-size: 30px;
    text-align: center;
    transform: translate(0, -300px);
}

#some-mentors-title {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.some-mentors {
    /* border: 1px solid; */
    max-width: 100%;
    padding-left: 50px;
    display: flex;
    padding: 20px;
    overflow: hidden;
    /* background: #949699; */
}

.some-mentors .one-mentor {
    flex: 1;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* box-shadow: 0px 10px 78px black; */
}

.some-mentors .one-mentor img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#mentor-name {
    font-size: 20px;
}



.some-mentors .one-mentor-center {
    flex: 1;
    text-align: center;
    margin: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* box-shadow: 0px 10px 78px black; */
}

.some-mentors .one-mentor-center img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.some-mentors .one-mentor ul{
    text-align: left;
    margin-left: 40px;
}
.some-mentors .one-mentor ul li{
    list-style: none;
    font-size: 20px;
}

.some-mentors .one-mentor-center ul {
    
    text-align: left;
    margin-left: 40px;
}
.some-mentors .one-mentor-center ul li{
    list-style: none;
    font-size: 20px;
}

#view-mentor {
    margin-bottom: 20px;
    width: 70%;
    height: calc(2.25rem + 2px);
    border-radius: 0.25rem;
    border-style: none;
    cursor: pointer;
    background-color: #212529;
    color: #fbb117;
    outline: none;
}

#view-mentor:hover {
    background-color: black;
    border: 2px solid #fbb117;
    color: #fff;
}

.footer {
    height: 70px;
    line-height: 70px;
    background: #343a40;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* margin-bottom: 0; */
    /* transform: translate(0, 60px); */
}

.footer h3 {
    text-align: center;
}

@media screen and (max-width: 1441px) {
    /* ************************index.html****************** */
    .text-block {
        /* font-size: 20px; */
        margin-top: -240px;
    }
    #some-mentors-title {
        margin-top: -100px;
    }
}

@media screen and (max-width: 1025px) {
    /* *********************index.html****************** */
    .text-block {
        font-size: 25px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 900px) {
    /* *****************index.html******************* */
    .menu,
    .header {
        flex-direction: column;
    }
    .menu {
        display: none;
        position: absolute;
        width: 100%;
        /* top: 50px; */
        /* float: right; */
        z-index: 1;
        background-color: #343a40;
        padding-bottom: 20px;
        margin-top: 60px;
        /* margin-right: -66px; */
        left: 0;
        /* opacity: 0.7; */
        height: 100%;
        padding-top: 100px;
    }
    .menu a {
        /* width: 200px; */
        margin: 0 auto;
    }
    .toggleShow {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
    .page-img {}
    .text-block {
        font-size: 20px;
        margin-top: -20px;
    }
    #some-mentors-title {
        margin-top: -300px;
    }
    .some-mentors .one-mentor,
    .one-mentor-center {
        width: 50%;
    }
    .some-mentors {
        display: block;
    }
    .some-mentors .one-mentor,
    .some-mentors .one-mentor-center {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width:769px) {
    /* *****************index.html******************* */
    .some-mentors .one-mentor,
    .some-mentors .one-mentor-center {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        margin-top: 20px;
    }
}

@media screen and (max-width:426px) {
    /* **********************index.html****************** */
    .text-block {
        font-size: 15px;
        margin-top: 120px;
    }
    #some-mentors-title {
        margin-top: -430px;
        margin-bottom: -15px;
    }
    .some-mentors .one-mentor,
    .some-mentors .one-mentor-center {
        width: 90%;
    }
}

@media screen and (max-width:376px) {
    /* ***************************index.html************** */
    #some-mentors-title {
        margin-top: -150px;
    }
    .some-mentors .one-mentor,
    .some-mentors .one-mentor-center {
        width: 90%;
    }
    .some-mentors .one-mentor img,
    .some-mentors .one-mentor-center img {
        width: 80%;
    }
    .text-block {
        font-size: 14px;
        margin-top: 120px;
    }
    #some-mentors-title {
        margin-top: -430px;
        margin-bottom: -15px;
    }
}

@media screen and (max-width:320px) {
    /* *****************index.html******************* */
    .some-mentors {
        margin-top: -20px;
    }
    .some-mentors .one-mentor,
    .some-mentors .one-mentor-center {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    .text-block {
        margin-top: 160px;
        position: relative;
        color: #34495e;
        font-size: 12px;
        text-align: center;
    }
    #some-mentors-title {
        margin-top: -460px;
        font-size: 20px;
    }
    .logo-small {
        float: left;
        line-height: 70px;
    }
    .logo-small a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding-left: 30px;
        font-size: 20px;
    }
    .logo a {
        display: none;
    }
    /* ********************mentor.html*************************** */
    .mentors {
        /* padding-left:  */
    }
    .mentors .mentor {
        width: 93%;
    }
}


/* ***************************************Signup.html********************************************* */

.signup-section {
    /* background: url(images/96490584-training-with-design-mentor-two-web-designers-discussing-new-responsive-webdesign-.jpg); */
    background-color: #fff;
    padding-bottom: 139.599px;
    padding-top: 80px;
    margin: auto;
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}

.signup-title-div {
    background-color: #212529;
    width: 440px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    line-height: 2.7;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

#sigup-title {
    color: #fbb117;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 20px;
}

.signup-form {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.signup-form span a {
    /* border: 1px solid; */
    text-decoration: none;
    color: #fbb117;
}

.signup-form div label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.signup-form div #signup-field {
    display: block;
    width: 94%;
    height: calc(2.25rem + 2px);
    padding: 0 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    margin-bottom: 0.5cm;
    margin-top: 0.3cm;
    border: 1px solid #b5b9bd;
    border-radius: 0.25rem;
    outline: none;
}

.signup-form div #signup-field:hover {
    border: 1px solid #fbb117;
}

#signup-button {
    background-color: #212529;
    color: #fbb117;
    width: 100%;
    border: 1px solid;
    border-color: #212529;
    display: block;
    text-align: center;
    border-radius: 0.25rem;
    line-height: 1.5;
    height: calc(2.25rem + 2px);
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 426px) {
    /* ******************signup.html********************** */
    .signup-title-div {
        width: 89.3%;
    }
    .signup-form {
        width: 80%;
    }
}

@media screen and (max-width: 376px) {
    /* **************************signup.html********************** */
    .signup-title-div {
        width: 90.7%
    }
    .signup-form {
        width: 80%;
    }
    .signup-form div #signup-field {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 320px) {
    /* *********************************signup.html********************************** */
    .signup-form {
        width: 70%;
        margin-left: 25px;
    }
    .signup-title-div {
        width: 82.5%;
        margin-left: 25px;
    }
    .signup-form div #signup-field {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* *********************************Signin.html********************************* */

.signin-section {
    background-color: #fff;
    padding-bottom: 150px;
    padding-top: 40px;
    /* margin: auto; */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}

.signin-title-div {
    margin-top: 80px;
    background-color: #212529;
    width: 443px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    line-height: 2.7;
}
.push{
    height: 70px;
}

#signin-title {
    color: #fbb117;
    font-size: 1.5rem;
    margin-left: 20px;
}

.signin-form {
    /* margin-top: 40px; */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.signin-form div #signin-field {
    display: block;
    width: 94%;
    height: calc(2.25rem + 2px);
    padding: 0 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    margin-bottom: 0.5cm;
    margin-top: 0.3cm;
    border: 1px solid #b5b9bd;
    border-radius: 0.25rem;
    outline: none;
}

#signin-button {
    background-color: #212529;
    color: #fbb117;
    width: 100%;
    border: 1px solid;
    border-color: #212529;
    display: block;
    text-align: center;
    border-radius: 0.25rem;
    line-height: 1.5;
    height: 35px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    line-height: 35px;
}
#signin-button:hover{
    color: #fff;
    border-color: #fbb117;
    background-color: black
}

.signin-form span a {
    text-decoration: none;
    color: #fbb117;
}

@media screen and (max-width: 426px) {
    /* *********************signin.html***************** */
    .signin-title-div {
        width: 89.5%;
    }
    .signin-form {
        width: 80%;
    }
}

@media screen and (max-width: 376px) {
    /* *****************************signin.html*************************** */
    .signin-title-div {
        width: 91%;
    }
    .signin-form {
        width: 80%;
    }
    .signin-form div #signin-field {
        margin-left: -3px;
    }
}

@media screen and (max-width: 320px) {
    /* *******************************signin.html********************************** */
    .signin-form {
        width: 70%;
    }
    .signin-title-div {
        width: 83%;
    }
    .signin-form div #signin-field {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .signin-form span {
        font-size: 13px;
    }
}


/*********************** mentors.html **************/

.title {
    /* border: 1px solid; */
    margin: 20px 0;
    text-align: center;
}

.mentors {
    /* border: 1px solid; */
    padding-left: 18px;
    /* background: red */
    /* background: url(images/1_n5WXtY2XqqFEMsVRofbjUA.jpeg);
  background-size: cover; */
    /* background: url(images/96490584-training-with-design-mentor-two-web-designers-discussing-new-responsive-webdesign-.jpg) no-repeat; */
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

.mentors .mentor {
    /* border: 1px solid; */
    display: inline-block;
    width: 23%;
    text-align: center;
    /* color: rgb(161, 158, 158); */
    margin: 20px 8px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* box-shadow: 0px 10px 78px rgb(243, 243, 243); */
}

mentors .mentor p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.user-page #user-page-title {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
    .mentors {
        /* padding-left: 16px; */
        padding-left: 1.7%;
    }
    .mentors .mentor {
        width: 45%;
        /* margin: 20px 16px; */
        margin: 20px 1.9%;
    }
}

@media screen and (max-width: 426px) {
    .mentors .mentor {
        width: 80%;
        margin-left: 40px;
    }
}

@media screen and (max-width: 376px) {
    #user-page-title {
        font-size: 20px;
    }
    .title h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .mentors .mentor {
        width: 80%;
        margin-left: 30px;
    }
}


/* ***********************mentor.html*********************** */

.specific-mentor {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    /* box-shadow: 0px 10px 78px black; */
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}
.specific-mentor ul{
    text-align: left;
    margin-left: 170px;
}
.specific-mentor ul li{
    list-style: none;
    font-size: 20px;
}
h5{
    color: rgb(160, 165, 119);
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.specific-mentor img {
    max-width: 100%;
    max-height: 100%;
}

#request-session-btn, #get-started-btn {
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: #212529;
    color: #fbb117;
    cursor: pointer;
    outline: none;
}

#request-session-btn:hover, #get-started-btn:hover {
    color: #fff;
}

@media screen and (max-width: 320px) {
    .mentors .mentor {
        width: 93%;
    }
}


/* ***************************admin.html************************************* */

.signin-section h3 {
    text-align: center;
}

.admin-logo {
    /* border: 1px solid; */
    float: left;
    line-height: 70px;
    color: #fff;
    padding-left: 30px;
}

.admin-logo-small {
    display: none;
}
.users{
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

.users h2 {
    text-align: center;
}

table {
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 80px;
}

th,
td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background: #cecece;
}

tr:nth-child(odd) {
    background: #999999;
}

td #make-mentor-btn {
    /* float: right; */
    /* margin: 10px; */
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 0.25rem;
    color: #fbb117;
    background-color: #212529;
    outline: none;
}

td #make-mentor-btn:hover {
    background-color: black;
    border: 2px solid #fbb117;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .mentors {
        /* padding-left: 16px; */
        padding-left: 1.7%;
    }
    .admin-links {
        display: none;
    }
}

@media screen and (max-width: 426px) {
    table {
        width: 90%;
    }
    td #make-mentor-btn {
        width: 50px;
    }
    th,
    td {
        padding: 8px;
    }
}

@media screen and (max-width: 376px) {
    td #make-mentor-btn {
        width: 50px;
    }
    th,
    td {
        padding: 8px;
    }
}

@media screen and (max-width: 320px) {
    .admin-logo-small {
        display: block;
        color: #fff;
        float: left;
        line-height: 70px;
        margin-left: 10px;
    }
    .admin-logo {
        display: none;
    }
    .menu-toggle {
        margin-right: 10px;
    }
    td #make-mentor-btn {
        width: 50px;
    }
    th,
    td {
        padding: 8px;
    }
}


/* *******************************requests.html*************************** */

.requests {
    /* background: url(../images/Mentorship-e1499032175833.png) center no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 1.5cm;
    min-height: 100%;
	height: auto !important;
	height: 100%;
    margin: 0 auto -70px;
}

.requests h2 {
    text-align: center;
    margin-bottom: 20px;
}

.request {
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 45%;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-bottom: 20px;
    /* box-shadow: 15px 20px 28px rgb(39, 35, 35); */
}

.request h3 {
    margin-left: 20px;
}

.requests ul {
    float: right;
}

#accept-request {
    display: inline;
    margin-right: 20px;
}

#decline-request {
    display: inline;
    margin-right: 20px;
}

ul button {
    height: 30px;
    width: 100px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}

#accept-request-btn {
    background-color: rgb(165, 162, 162);
}

#accept-request-btn:hover {
    background-color: green;
    color: #fff;
}

#decline-request-btn {
    background-color: rgb(165, 162, 162);
}

#decline-request-btn:hover {
    background-color: red;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .request {
        width: 40%;
        margin-left: 55px;
    }
    #accept-request {
        display: block;
        margin-bottom: 20px;
    }
    #decline-request {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .request {
        margin-left: 50px;
    }
}

@media screen and (max-width: 426px) {
    .request {
        width: 80%;
        margin-left: 40px;
    }
}

@media screen and (max-width: 376px) {
    .request {
        margin-left: 35px;
    }
}

@media screen and (max-width: 320px) {
    .request {
        margin-left: 30px;
    }
}